#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add-task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #242424;
}

.add-task-inputs {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 2rem;
  margin: 0rem 0rem;
  border-radius: 1rem;
  border: none;
}

.add-task input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}

.to-do-list {
  background-color: #242424;
  padding: 2rem;
  border-radius: 1rem;
}

.task-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-item {
  border: 1px solid #646cff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
}