body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #0d1321;
    color: #f0ebd8;
}

.add-task {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
}

.task-button-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.add-task input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.add-task button {
    padding: 0.5rem 1rem;
    border: none;
    width: 30%;
    border-radius: 0.5rem;
    background-color: #748cab;
    color: #0d1321;
    cursor: pointer;
}


.todolist-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.task-item {
    background-color: #748cab;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #0d1321;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-item button {
    background-color: #f0ebd8;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.task-item button:hover {
    background-color: #e1d7b9;
}