body {
    background-color: #f0ebd8;
    color: #0d1321;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 80%;
    margin: 2rem auto;
    background-color: #748cab;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    color: #0d1321;
}

ul {
    display: flex;
    gap: 1rem;
    padding: 0rem 0rem;
    margin: 0rem 0rem;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
}

li {
    padding: 1rem 1rem;
    list-style-type: none;
    border: 1px solid #0d1321;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

li:hover {
    background-color: #f0ebd8;
    color: #0d1321;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero {
    width: 80%;
    margin: 2rem auto;
    background-color: #748cab;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.projets {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #748cab;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projet-title {
    text-align: center;
    padding: 2rem 0rem 1rem 0rem;
    font-size: 2rem;
    font-weight: bold;
}

.projet-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

    padding: 2rem;
    margin: 0rem 0rem;
}

.projet-item {
    border: 1px solid #0d1321;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.projet-item:hover {
    background-color: #f0ebd8;
    color: #0d1321;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

footer {
    width: 80%;
    margin: 2rem auto;
    background-color: #748cab;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contact-link {
    color: #0d1321;
    font-weight: bold;
    text-decoration: underline;
    padding: 1rem 1rem;
    list-style-type: none;
    border: 1px solid #0d1321;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

.contact-link:hover {
    background-color: #f0ebd8;
    color: #0d1321;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}